#Cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Cart > .content {
  padding: 5% 20%;
}

.page-title {
  margin-bottom: 5%;
}

.checkout {
  margin: 5% 0%;
}

.cart-item-name > h4 {
  font-size: 200%;
  max-height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkout > .button-container > div {
  height: 3.5rem;
}

.checkout > .button-container > div > * {
  font-size: 28px;
  line-height: 3.5rem;
  font-weight: 600;
}

.checkout > .total {
  color: #223;
  margin-left: auto;
  margin-right: 1rem;
}

@media (max-aspect-ratio: 4/3) {
  #Cart > .content {
    padding: 2% 10%;
  }

  .cart-item-name > h4 {
    font-size: 1.4rem;
  }

  .checkout > .button-container > div {
    height: 3rem;
  }

  .checkout > .button-container > div > * {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  .checkout > .total * {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
