.search-container {
  width: 100%;
  background-color: #bbb;
  text-align: center;
  padding: 10px;
  height: 2rem;
}

.search-container > input {
  font-size: 20px;
  height: 100%;
  width: 20rem;
  border: none;
}

.search-container > button {
  height: 104%;
  border: none;
}
