/* General Styling */
nav,
.nav-list {
  display: flex;
  flex-direction: row;
}

nav {
  background-color: #013d55;
}

nav a {
  text-decoration: none;
  color: white;
}

/* Logo */
.nav-logo {
  margin: 20px;
  margin-left: 36px;
}

.nav-logo > a {
  font-size: 3rem;
  font-weight: bolder;
}

/* List and items */
.nav-list {
  list-style: none;
  padding: 0;
  margin: auto 0;
  margin-left: auto;
  padding-right: 5%;
}

.nav-item {
  margin: 0rem 1rem;
  line-height: 30px;
}

.nav-item > a {
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-item > .active {
  border-bottom: 3px solid white;
}

.total-pill {
  height: 1rem;
  width: 1rem;
  padding-left: 0.25rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  background-color: red;
  color: white;
  border-radius: 50px;
}

@media (max-aspect-ratio: 5/8) {
  .nav-logo > a {
    font-size: 1.6rem;
  }

  .nav-item > a {
    font-size: 1.2rem;
  }
}
