.search-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  width: 100%;
  background-color: #ccc;
  text-align: center;
  padding: 10px;
  height: 4rem;
  box-sizing: border-box;
}

.search-container *:focus {
  outline: none;
}

.search-container > input {
  font-size: 20px;
  height: 100%;
  width: 20rem;
  border-top: 1px solid black;
  border-right: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px 0px 0px 5px;
}

.search-container > div {
  height: 110%;
  box-sizing: border-box;
}

.search-container > div > button {
  height: 100%;
  width: 3rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  background-color: white;
}

.search-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.submit-search {
  background-color: #f1bc49 !important;
  border-right: 1px solid black !important;
  border-radius: 0px 5px 5px 0px;
}

.clear-search {
  padding: 20%;
}
