/* Container */
.item-card-container {
  border: 1px solid #999;
  width: 30%;
  height: 66vh;
  margin: 1.5rem auto;
  padding: 2vh;
  box-sizing: border-box;
}

/* Image */
.item-image-wrapper {
  height: 60%;
  margin: 0;
}

.item-card-container > .item-image-wrapper > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Details */
.item-details {
  margin: 0rem 1.5rem;
  height: 30%;
}

.item-details * {
  margin: 5px 0px;
  color: #223;
}

.item-details a {
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
}

/* Name */
.item-name > a {
  font-size: 1.8rem;
  font-weight: 400;
}

/* Rating and SVG */
.svg-container {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}

@media (max-aspect-ratio: 4/3) {
  .item-card-container {
    width: 45%;
    height: 50vh;
  }

  .item-image-wrapper {
    height: 50%;
    margin: 0;
  }

  .item-details {
    height: 40%;
  }

  .item-name > a {
    font-size: 1.6rem;
  }

  .svg-container {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-aspect-ratio: 3/4) {
  .item-image-wrapper {
    background-color: #aaf;
    height: 50%;
    margin: 0;
  }

  .item-details {
    height: 40%;
    margin: 0;
  }

  .item-name {
    height: 1.6rem;
  }

  .item-name > a {
    font-size: 0.8rem;
  }

  .svg-container {
    width: 1rem;
    height: 1rem;
  }
}
